.primary-modal .modal-header {
    background-color: #36A7E7;
    color: white;
}

.primary-modal .modal-footer {
    background-color: #36A7E7;
    color: white;
}

.primary-modal .close {
    color: white;
}

.modal-header-fix {
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

.modal-footer-fix {
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}